<% /**
    * Панелька слева
    * @param user [object] - объект пользователя
    * @param page [string] - название страницы
    */ %>
<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li <% if (page == 'tasks') { %> class="active" <% } %>>
                <a href="/tasks">Мои задачи</a>
            </li>
            <li <% if (page == 'create') { %> class="active" <% } %>>
                <a href="/create">Создать задачу</a>
            </li>
            <li <% if (page == 'programs') { %> class="active" <% } %>>
                <a href="/programs">Программы</a>
            </li>
            <li class="nav-info">
                <i class="pe pe-7s-shield text-accent"></i>

                <div class="m-t-xs">
                    <span class="c-white">TasksPanel</span>
                </div>
            </li>
        </ul>
    </nav>
</aside>